

/* comentarios */


/* importo tipografia de google fonts*/


body{
  background-color: pink;
  font-size: 22px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

h1{
  font-size: 48px;
  color:purple
}

footer{
  background-color: gray;
  color: white;
  padding: 3em; /* EM square */
margin-top: 2em;
}

footer a{
  color: black;
  font-weight: bolder;
  text-decoration: underline;
  cursor: crosshair;
}